# Environment files
.env
.env.local
.env.*.local

# Database data
db-data/
redis-data/

# PHP dependencies
vendor/
composer.lock

# Storage and cache
storage/logs/
storage/cache/
storage/uploads/

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Docker volumes
*.log

# SRC
src/
src
db-data/aria_log_control
db-data/aria_log.00000001
db-data/ib_buffer_pool
db-data/ib_logfile0
